* {
	padding: 0;
	margin: 0;
}

#content-flex {
	height: 800px;
	display: flex;
	justify-content: center;
}
#content-slider {
	display: flex;
	width: 800px;
	height: 600px;
	border: 8px solid;
	/*overflow: hidden;*/
	align-self: center;
}

.fotos {
	position: relative;
}
